.tracking-output{
    background-color: rgb(0,93,108);
    color: white;
    padding: 10px;


}

.tracking-header{
    background-color: rgb(0,93,108);
    color: white;
    text-shadow: 1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: underline;


}